.container
	%h1#title Ayuda
	.row
		= render 'sidebar'
		.col-sm-9
			%h1.margin-cero Contáctenos
			%br/
			%p.p.b Si tiene alguna sugerencia o desea apoyar este proyecto nos puede enviar un correo a
			%p.p ofncostarica@example.com
			%p.p.b O si bien, desea ver el movimiento de Open Food Network Mundial, visite
			%p.p
				%a{:href => "www.openfoodnetwork.org"} www.openfoodnetwork.org