.container
  %h1#title Ayuda
  .row
    = render 'sidebar'
    .col-sm-9
      %h1.margin-cero Preguntas Frecuentes

      .container
        %h4 Seleccione la categoria de preguntas a la que desea accesar:
        %br/
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"} Consumidor ▼
            #collapse1.panel-collapse.collapse.in
              .panel-body
                %p.p.b ¿Los productos los envian a cualquier parte del país?
                %p.p – Todas las tiendas del sistema son operadas independientemente y ofrecen diferentes métodos de envío. Algunas tiendas ofrecen métodos de envío más convencionales como entrega a domicilio. Otros tendrán maneras más creativas, como la recolección desde una ubicación central (como una escuela, el mercado de los agricultores o el trabajo).
                %br/
                %p.p.b ¿Cuáles son las opciones de pago?
                %p.p – Todas las tiendas del sistema son operadas independientemente y tienen diferentes métodos de pago disponibles. Visite una tienda para ver qué opciones se ofrecen. Entre las más populares están Paypal, transferencia bancaria o en pago en la entrega.
                %br/            
                %p.p.b ¿Cómo puedo contactar una tienda después de hacer un pedido?
                %p.p – Después de realizar un pedido en OFN, se le enviará un correo electrónico de confirmación de la orden. Esto incluirá detalles de su pedido, información de pago y entrega y los detalles de contacto de la tienda.
                %br/  
                %p.p.b ¿Puedo ver un registro de mis últimos pedidos?
                %p.p – Puede ver sus pedidos anteriores iniciando sesión en la página principal, haciendo clic en el engranaje en la esquina superior derecha y seleccionando “Cuenta”. Aquí verá un resumen de sus pedidos en cada tienda y podrá ver los detalles de cada pedido.
                %br/  
                %p.p.b ¿Cómo realizar compras en OFN traen beneficios a los agricultores, al medio ambiente y a mi comunidad?
                %p.p – OFN vuelve a hacer visible a los productores, dándoles reconocimiento y un precio justo, por su arduo trabajo. Un sistema alimentario con un comercio más directo entre los agricultores y las empresas de la comunidad local (en lugar de las empresas multinacionales) mantiene el dinero de los alimentos en manos de la comunidad y construye lazos y comprensión.
                %br/                            
                %p.p.b ¿Solo funciona para Costa Rica?
                %p.p –  Sí, esta plataforma esta desarrollada solamente para Costa Rica.
                %br/
                %p.p.b ¿Qué son los ciclos de pedido?
                %p.p – Algunas tiendas operan su pedido y entrega en "ciclos de pedidos", en contraposición a las tiendas que están perpetuamente abiertas y procesan órdenes de una a una. Los ciclos de pedidos son una manera de que las empresas procesen pedidos a granel, lo que hace que su negocio sea más eficiente, para que puedan transferirle los ahorros (piense en lo ineficiente que sería para un agricultor recolectar una lechuga cada vez que se hace un pedido)
                %br/
                %p.p.b ¿Qué son los ciclos de pedido?
                %p.p – Algunas tiendas operan su pedido y entrega en "ciclos de pedidos", en contraposición a las tiendas que están perpetuamente abiertas y procesan órdenes de una a una. Los ciclos de pedidos son una manera de que las empresas procesen pedidos a granel, lo que hace que su negocio sea más eficiente, para que puedan transferirle los ahorros (piense en lo ineficiente que sería para un agricultor recolectar una lechuga cada vez que se hace un pedido)
                %p.p Un ciclo de pedido comienza con un período de tiempo cuando la tienda está abierta y acepta pedidos. Luego se cerrará, y la tienda procesará (recolectará, empaquetará y entregará) todas las órdenes que fueron colocadas. Un ciclo de pedidos completo puede tardar 2 semanas (por ejemplo, la tienda está abierta durante 10 días y, después, los pedidos se recogen, se empacan y se entregan en 4 días). Para los clientes, esto puede significar que usted hará su pedido unos días antes de recibir de ser entregados. Una vez que te acostumbras a pedir con antelación, el sistema funciona bien y le trae productos más frescos!
                %p.p Si usted ve que una tienda está cerrada, simplemente regrese cuando su siguiente ciclo de pedido esté abierto para comenzar a hacer compras con ellos.
                %br/                
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2"} Productor ▼
            #collapse2.panel-collapse.collapse
              .panel-body
                %p.p.b Soy un productor y quiero vender mis productos a través de un centro de acopio como proveedor, ¿cómo puedo hacer esto?
                %p.p – OFN tiene como objetivo facilitar a los productores y centros de acopio trabajar en conjunto. Animamos a los productores a buscar centros de acopio en su área (en el mapa OFN) que puedan ser socios comerciales (consulte sus perfiles). Sin embargo, OFN no desempeña un papel activo en los productores y centros de acopio asociados.
                %br/              
                %p.p.b Soy productor y me gustaría empezar a vender directamente a los clientes. ¿Cómo puedo participar con OFN?
                %p.p – Los productores pueden crear una tienda en línea, profesional y asequible en OFN, y comenzar a negociar directamente con los clientes. Una tienda en línea es simple de configurar, teniendo sólo unas pocas horas (consulte la guía de configuración). Además, las tiendas vienen con herramientas prácticas que simplifican el lado de la administración y control de las mismas.
                %br/
                %p.p.b ¿Puedo controlar el orden en que los productos se muestran en mi tienda?
                %p.p – Sí, puede seleccionar el orden en el que cada categoría de alimentos se muestra en su tienda, luego dentro de cada categoría los productos se muestran alfabéticamente. Por ejemplo, si Carne y Pescado son sus productos más importantes, puede seleccionar que se muestren primero, y sus productos secundarios después. Puede hacerlo en la configuración de su perfil, en "Shopfront category ordering".
                %br/                
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3"} Centro de Acopio ▼
            #collapse3.panel-collapse.collapse
              .panel-body
                %p.p.b ¿Que es un centro de acopio?
                %p.p – Un centro de acopio es un lugar donde los productores pueden dejar los productos para que el comprador los recoja, normalmente cada producto dice si puede ser entregado por medio de un centro de acopio.
                %br/
                %p.p.b ¿Cómo se recibe el pago en un Centro de Acopio?
                %p.p – OFN no dicta un método de pago, y usted puede utilizar cualquier arreglo que funcione para usted. Las opciones de pago actuales que se integran en el proceso de pago incluyen Paypal, transferencia bancaria y pago a la hora de recoger.
                %br/
                %p.p.b ¿Qué agricultores proveerán a un Centro de Acopio?
                %p.p – OFN no 'hace coincidir' Centros de Acopio con los agricultores. Más bien facilitamos la conexión, haciendo posible que los grupos se encuentren y se conecten y comercien.
                %br/
                %p.p.b ¿Los Centros de Acopio solo producen productos orgánicos?
                %p.p – Los Centros de Acopio eligen de quienes obtienen los productos y a quiénes venden. Ellos pueden elegir sólo suministros de productos orgánicos, o pueden elegir convencionales, o un poco de ambos, dependiendo de las necesidades de sus clientes.
                