.container
  %div
    %h1#title Guías de Centros de Acopio
  .row
    = render 'sidebar'
    .col-sm-9
      %h1 Crear o conectarse con sus  proveedores
      %p.p Este es un paso necesario para agregar sus productos a su tienda.
      %p.p Todos los productos de OFN deben pertenecer a un perfil de un productor de OFN. Esta es una característica importante de OFN, ya que permite a los clientes rastrear el origen de los productos. A continuación se muestra un ejemplo de cómo se muestra en una tienda.
      %img{:src => "/assets/help/hub/hub-create-or-connect-with-supplying-producers1.png"}
      %p.p Ahora como Centro de Acopio, ¿qué es lo que necesita hacer antes de agregar sus productos? Bueno, hay dos posibilidades, dependiendo de si su productor que le suministra los productos tiene o no un perfil abierto en OFN.
      %p.p ¿Cómo sé si mi productor tiene un perfil en OFN? Vaya a www.openfoodnetwork.org/producers y puede buscarlos.
      %h2 El productor proveedor no tiene un perfil en OFN
      %p.p Si un productor proveedor no tiene un perfil en OFN, puede crear uno en su nombre. Usted será el “owner” (dueño) de este perfil y podrá agregar los productos del productor y luego almacenarlos en su tienda. La nueva empresa productora estará visible en su panel de control cuando inicie sesión en su cuenta existente. Si el productor desea tomar posesión de este perfil, la propiedad puede transferirse fácilmente.
      %h3 Detalles importantes a tomar en cuenta antes de crear un perfil de productor:
      %p.p Antes de crear un perfil para sus productores proveedores, debe comunicarse con ellos y hacerles saber que está creando un perfil para ellos en OFN. Es posible que deseen participar en el proceso e incluso asumir cierta responsabilidad en la gestión del perfil y sus productos, etc. Pero lo más común es que los productores prefieran que los centros de acopio poseen y gestionen los perfiles para ellos.
      %p.p Asegúrese de preguntar al productor qué información desea compartir en su perfil. A menudo puede tomar texto e imágenes de sus sitios web existentes o de las redes sociales, sin embargo, siempre debe pedir permiso antes de usar cualquier contenido que le pertenezca . Una vez que tenga la información, la creación del perfil no le llevará más de 10 minutos.
      %h3 Creando un perfil de productor:
      %p.p Puede crear un nuevo perfil para un productor haciendo clic en “Enterprises” en el banner azul horizontal y, a continuación, en “New Enterprise”. Recuerde que "Enterprise" es un término general utilizado para cualquier perfil de productor o centro de acopio en OFN.
      %img{:src => "/assets/help/hub/hub-create-or-connect-with-supplying-producers2.png"}
      %p.p Esto procede de la misma forma que vimos en la sección "Su perfil" de esta guía. Algunas cosas a tener en cuenta:
      %p.p Name: Introduzca el nombre del productor. Si recibe un mensaje de error diciendo que este nombre ya se ha tomado, significa que ya hay un perfil para este productor.
      %p.p Seleccione esta casilla, ya que está agregando un productor proveedor.
      %p.p Debe discutir con el productor si desea o no ser visible en OFN. Si desean ser invisibles, su nombre y perfil seguirán mostrándose junto a sus productos en su tienda, pero no se podrán buscar en el mapa.
      %p.p Este correo electrónico y número de teléfono serán visibles en el perfil. Si este productor no desea ser contactado por el público, entonces coloque los detalles de contacto de su Centro de Acopio aquí.
      %p.p Recuerde que OFN tiene que ver con la transparencia en el sistema alimentario y los clientes están cada vez más interesados en saber de dónde provienen sus alimentos. Por lo tanto, vale la pena agregar un montón de detalles sobre sus productores y lo que los hace únicos.
      %p.p Recomendamos encarecidamente que todos los perfiles tengan logo e imágenes promocionales. Estas imágenes hacen la experiencia en línea para los clientes más agradable y atractivo, y también dan mayor credibilidad a las empresas.
      %h2 El productor proveedor ya cuenta con un perfil en OFN
      %p.p Si un productor proveedor ya tiene un perfil en OFN, necesitará obtener su permiso para agregar productos a su perfil (si aún no lo han hecho) y almacenarlos en su tienda. Usted será capaz de encontrar sus datos de contacto en su perfil de OFN. Tenga en cuenta que el perfil del productor podría ser manejado por otro centro de acopio, pero esto no es un problema, OFN puede acomodar dos centros de acopio que almacenan los productos del mismo productor en sus tiendas separadas.
      %p.p Dentro de OFN, “Enterprise to Enterprise Permissions” (E2E) se utilizan para controlar la naturaleza de los acuerdos comerciales entre productores y centros de acopio. Los productores pueden conceder a los centros de acopio diferentes tipos de permisos de E2E, en diferentes combinaciones, para especificar exactamente con cuales elementos de su cuenta puede interactuar. En el nivel más simple, un productor puede conceder un permiso de centro para almacenar sus productos en la tienda del centros de acopio. También pueden estar contentos de permitir que el concentrador cree y modifique sus productos o edite su perfil.
