.container
  %div
    %h1#title Ayuda
  .row
    = render 'sidebar'
    .col-sm-9
      %h1 Tipos de perfil para los Centros de Acopio
      %p.p Al crear su perfil, se le pedirá que seleccione el "tipo" de perfil que desea. Su selección determinará la funcionalidad que su perfil tendrá.
      %img{:src => "/assets/help/hub/hub-profile-type1.png"}
      %h3 Profile Only:
      %p.p Esta opción le permite crear un perfil en OFN. Su perfil es una manera de compartir su historia con los demás y te hace visible y abre la posibilidad del  contacto con los clientes y otras empresas que deseen negociar con usted.
      %h3 Hub Shop:
      %p.p Esta opción le proporciona una tienda en línea completa para su centro de acopio, además del perfil.
      %p.p Puede cambiar el tipo de cuenta en cualquier momento en el futuro. Esto se puede hacer haciendo clic en el botón "Change package” en el “Dashboard”. O bien, puede cambiar su condición de producer/non producer (productor o no productor ) y la condición del centro de acopio ya sea profile/shop (solo de perfil o tienda), para ello se debe seleccionar la y luego editar los parámetros de su empresa (véase más adelante).
      %img{:src => "/assets/help/hub/hub-profile-type2.png"}
