.container
  %div
    %h1#title Guías de Centros de Acopio
  .row
    = render 'sidebar'
    .col-sm-9
      %h1 Crear cuenta
      %p.p
        Para crear una cuenta dirigirse al siguiente link www.openfoodnetwork.org.cr/register.
        Este proceso le guiará a través de la creación de una cuenta, y también ayudará a añadir detalles a su perfil. Ya sea que desee simplemente tener un perfil OFN (Open Food Network), o si desea crear una tienda en línea, crear una cuenta y llenar su perfil es el primer paso.
      %p.p El proceso tarda alrededor de 5-10 minutos, donde se le solicitarán datos de su empresa (dirección, datos de contacto), una imagen formato apaisado, imagen del logotipo y una descripción de la sección "sobre nosotros".
      %img{:src => "/assets/help/shared/create_acount1.png"}/
      %p.p Una vez que haya terminado, le enviaremos correo electrónico de confirmación con más detalles.
