.container
  %div
    %h1#title Guías de Centros de Acopio
  .row
    = render 'sidebar'
    .col-sm-9
      %h1 El dashboard
      %p.p  El 'Dashboard' es el detrás de las escenas es donde se puede controlar su cuenta, podrá gestionar todos los componentes de su centro de acopio ya sea profile/shop (perfil o tienda).
      %p.p 
        Para acceder al Dashboard desde la página de inicio, primero se debe acceder a la plataforma desde el botón
        %img{:src => "/assets/help/hub/hubs-dashboard1.png"}/
        , y luego se debe hacer click en el botón de configuraciones
        %img{:src => "/assets/help/hub/hubs-dashboard2.png"}/
        ubicado en la esquina superior derecha de la pantalla y por último seleccionar la opción “Administración” del menú.
      %p.p  La siguiente imagen muestra la vista del panel para un usuario “profile-only”.
      %img{:src => "/assets/help/hub/hubs-dashboard3.png"}/
      %p.p  Desde el panel de control puede editar el "tipo" de perfil que desea (profile-only, or shop), haciendo clic sobre “Change Package”.
