.container
  %div
    %h1#title Ayuda
  .row
    = render 'sidebar'
    .col-sm-9        
      .col-sm-12
        = link_to '',{:action=>"download", :file_name => "producer-profile-types"}, :class=>'glyphicon glyphicon-download-alt pull-right'   
      %h1 Tipos de perfiles de Productor
      %p.p Al crear su perfil, se le pedirá que seleccione el "tipo" de perfil que desea. Su selección aquí determina la funcionalidad que su perfil tendrá.
      %img{:src =>"/assets/help/producer/producer-profile-types1.png"}
      %h3
        Perfil de Productor (Producer Profile)
      %p.p Conectar a través OFN: Esta opción le permite crear un perfil en la OFN. Su perfil es una manera de compartir su historia con los demás y te hace visible y abierta a contactos con los clientes y otras empresas que deseen negociar con usted. Un productor con un perfil, también puede añadir productos, que pueden ser almacenados en otras fachadas de las tiendas OFN.
      %h3
        Tienda de productor (Producer Shop)
      %p.p Vende sus propios productos: Esta opción permite a los productores crear su propio escaparate a través de OFN para vender sus productos. Es importante tener en cuenta que los productores pueden realizar ventas a través de su propia tienda, o funcionar como sitio de ventas para otro productor.
      %h3
        Centro de acopio de productor (Producer Hub)
      %p.p Vender productos propios y de otros: Esta opción es para los productores que desean vender sus propios productos, además de productos creados por otros productores.
      %h2 Cambiar configuración
      %p.p Una vez que haya seleccionado la configuración del perfil de productor que desea, puede que resulte necesario cambiarlos luego, para ello debe realizar lo siguiente:
      %p.p Dirigirse a la parte superior derecha de la pantalla y dar clic en el engranaje , seleccionar la opción de “Administración”.
      %img{:src =>"/assets/help/producer/producer-profile-types2.png"}
      %p.p Se abrirá otra página, la cual se verá como la siguiente imagen.
      %img{:src =>"/assets/help/producer/producer-profile-types3.png"}
      %p.p Dar click en “Empresas”.
      %p.p Se le mostrarán las empresas, buscar la que desea.
      %img{:src =>"/assets/help/producer/producer-profile-types4.png"}
      %p.p Seleccionar el tipo de perfil deseado
