.container
  %div
    %h1#title Ayuda
  .row
    = render 'sidebar'
    .col-sm-9   
      %h1.margin-cero Guías de Productores       
      %p.p Seleccione la guía a la que desea accesar:
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-create-account"} Crear cuenta
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-profile"} Perfil    
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-profile-types"} Tipos de perfiles
      %br    
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-products"} Productos
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-order-cycles"} Ciclos de pedido  
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-payment-methods"} Métodos de Pago   
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-shipping-methods"} Métodos de Envío
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-enterprise-fees"} Honorarios de la empresa 
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-view-orders"} Ver Órdenes      
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-report"} Reportes   
               