.container
  %div
    %h1#title Guías de Centros de Acopio
  .row
    = render 'sidebar'
    .col-sm-9
      %p.p Seleccione la guía a la que desea accesar:
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-payment-methods"} Métodos de pago
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-set-up-guide"} Configuración
                   
              
