.container
  %div
    %h1#title Guías de Productores
  .row
    = render 'sidebar'
    .col-sm-9          
      %p.p Seleccione la guía a la que desea accesar:
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-create-account"} Crear cuenta
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-profile"} Perfil    
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-profile-types"} Tipos de perfiles
      %br    
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-products"} Productos
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-order-cycles"} Ciclos de pedido  
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer/producer-report"} Reportes   
               