.container
  %div
    %h1#title Ayuda
  .row
    = render 'sidebar'
    .col-sm-9
      %h1.margin-cero Guías de Centros de Acopio
      %p.p Seleccione la guía a la que desea accesar:
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-set-up-guide"} Configuración
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-create-account"} Crear cuenta    
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-profile-type"} Tipo de perfil
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-dashboard"} Dashboard
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-your-profile"} Su perfil  
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-create-or-connect-with-supplying-producers"} Crear o conectarse con sus  proveedores
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-products"} Productos
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-payment-methods"} Métodos de pago
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-shipping-methods"} Métodos de envío
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-enterprise-fees"} Honorarios de la empresa 
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-order-cycles"} Ciclos de Órdenes    
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-view-orders"} Ver Órdenes                            
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub/hub-reports"} Reportes              
        
