.container
  %div
    %h1#title Ayuda
  .row
    = render 'sidebar'
    .col-sm-9
      %h1.margin-cero Guías de usuario
      %p.p Seleccione la guía a la que desea accesar:
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/hub"} Centro de Acopio
      %br
      %p.p.glyphicon.glyphicon-arrow-right
        %a{:href => "/help/userguide/producer"} Productores              
