.col-md-4.col-sm-4.col-xs-12
  .x_panel.tile.fixed_height_320.overflow_hidden
    .x_title
      %h2 Productores nuevos por mes
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
        %li
          %a.close-link
            %i.fa.fa-close
      .clearfix
    .x_content
      #graph_bar{:style => "width:100%; height:240px;"}


- content_for :javascripts do
  = javascript_include_tag "stadistics/charts/morris.js"
  = javascript_include_tag "stadistics/charts/raphael.js"
  :javascript
    $(document).ready(function() {
      Morris.Bar({
        element: 'graph_bar',
        data: [
          {device: 'Enero', geekbench: 15},
          {device: 'Febrero', geekbench: 25},
          {device: 'Marzo', geekbench: 10},
          {device: 'Abril', geekbench: 35},
          {device: 'Mayo', geekbench: 30},
          {device: 'Junio', geekbench: 50},
          {device: 'Julio', geekbench: 12},
          {device: 'Agosto', geekbench: 14},
          {device: 'Septiembre', geekbench: 9},
          {device: 'Octubre', geekbench: 10},
          {device: 'Noviembre', geekbench: 11},
          {device: 'Diciembre', geekbench: 14},
        ],
        xkey: 'device',
        ykeys: ['geekbench'],
        labels: ['Productores'],
        barRatio: 0.4,
        barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        xLabelAngle: 35,
        hideHover: 'auto',
        resize: true
      });
    });