.col-md-4.col-sm-4.col-xs-12
  .x_panel.tile.fixed_height_320.overflow_hidden
    .x_title
      %h4 
        = actual.title
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
        %li
          %a.close-link
            %i.fa.fa-close
      .clearfix
    .x_content
      /Crear un id nuevo por cada grafico para que cargue los nuevos y cargarlo
      %div{:style => "width:100%; height:220px;",:id =>"#{actual.id}-donut"}

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      Morris.Donut({
        element: '#{actual.id}-donut',
        data: jQuery.parseJSON('#{actual.value}'),
        colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        resize: true
      });
    });