%body.nav-md
  .container.body
    .main_container
      .col-md-3.left_col
        .left_col.scroll-view
          .navbar.nav_title{:style => "border: 0;"}
            %span.site_title Open Food Network
          .clearfix
          %br/
          / sidebar menu
          #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
              %h3 General
              %ul.nav.side-menu
                %li
                  %a
                    %i.fa.fa-home
                    Estadísticas
                    %span.fa.fa-chevron-down
                  %ul.nav.child_menu
                    %li
                      %a{:href => "index.html"} Generales
          / /sidebar menu
      / page content
      .right_col{:role => "main"}

        .row
          /Se llaman los graficos que se quieren generar
          = render "/stadistics/charts/doughnut-chart"
          = render "/stadistics/charts/bar-graph"
          = render "/stadistics/charts/column-chart"


          .sidebar-widget.pull-right{:role => "button"}
            %button.btn.btn-info.btn-circle.btn-xl{"data-target" => "#filterModal", "data-toggle" => "modal", :type => "button"}
              %span +
        / Modal
        #filterModal.modal.fade.bd-example-modal-lg{:role => "dialog"}
          .modal-dialog.modal-lg
            / Modal content
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title.text-center Generación de Grafico
                .nav-center
                  %ul.nav.nav-tabs.center-pills
                    %li.active{:role => "presentation"}
                      %a{:href => "#"} Productos
                    %li{:role => "presentation"}
                      %a{:href => "#"} Productores
                    %li{:role => "presentation"}
                      %a{:href => "#"} Centros de Acopio
              .modal-body
                / Calendario Inicio
                .container
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group
                        #datetimepicker1.input-group.date
                          %input.form-control{:placeholder => "Fecha inicial", :type => "text"}/
                          %span.input-group-addon
                            %span.glyphicon.glyphicon-calendar
                    :javascript
                      $(function () {
                          $('#datetimepicker1').datetimepicker();
                      });
                / Calendario
                / Calendario Fecha Final
                .container
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group
                        #datetimepicker2.input-group.date
                          %input.form-control{:placeholder => "Fecha final", :type => "text"}/
                          %span.input-group-addon
                            %span.glyphicon.glyphicon-calendar
                    :javascript
                      $(function () {
                          $('#datetimepicker2').datetimepicker();
                      });
                / Calendario Fecha Final
                .container
                  .row
                    .col-sm-3.col-md-offset-3
                      %h2 Tipo de producto
                      %select.selectpicker.btn
                        %option Frutas
                        %option Vegetales
                        %option Hortalizas
                    .col-sm-3.col-md-offset-1
                      %h2 Tipo de gráfico
                      %select.selectpicker.btn
                        %option Barras
                        %option Circular
                        %option Lineas
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Generar gráfico



