#filterModal.modal.fade.bd-example-modal-lg{:role => "dialog"}
  .modal-dialog.modal-lg
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title.text-center Generación de Grafico
        .nav-center
          %ul.nav.nav-tabs.center-pills
            %li.active{:role => "presentation" , :id => "product-modal-button"}
              %a{:href => "#"} Productos
            %li{:role => "presentation", :id => "producer-modal-button"}
              %a{:href => "#"} Productores
            %li{:role => "presentation", :id => "hubs-modal-button" }
              %a{:href => "#"} Centros de Acopio
      .modal-body
        / Calendario Inicio
        =form_tag 'index',:remote => true do
          #product-modal
            .container
              .row
                .col-md-8.col-md-offset-2
                  .form-group
                    %label.col-md-12.control-label.text-center.h4{:for => "dtp_input1"} Fecha inicial
                    .input-group.date.form_date.col-md-12{"data-date" => "", "data-date-format" => "yyyy-mm-dd", "data-link-field" => "dtp_input2", "data-link-format" => "yyyy-mm-dd"}
                      = text_field_tag :initial_date ,'' ,:class => "form-control", :readonly => true
                      %span.input-group-addon
                        %span.glyphicon.glyphicon-remove
                      %span.input-group-addon
                        %span.glyphicon.glyphicon-calendar
                    %input#dtp_input1{:type => "hidden", :value => ""}/
                    %br/
  
          
            .container
            
              .row
                .col-md-8.col-md-offset-2
                  .form-group
                    %label.col-md-12.control-label.text-center.h4{:for => "dtp_input2"} Fecha final
                    .input-group.date.form_date.col-md-12{"data-date" => "", "data-date-format" => "yyyy-mm-dd", "data-link-field" => "dtp_input2", "data-link-format" => "yyyy-mm-dd"}
                      = text_field_tag :final_date ,'' ,:class => "form-control", :readonly => true
                      -# %input.form-control{:readonly => "readonly",  :type => "text", :value => ""}/
                      %span.input-group-addon
                        %span.glyphicon.glyphicon-remove
                      %span.input-group-addon
                        %span.glyphicon.glyphicon-calendar
                    %input#dtp_input2{:type => "hidden", :value => ""}/
                    %br/
            / Calendario Fecha Final

            .container 
              .row
                .col-sm-4.col-md-offset-2 
                  %h4 Tipo de producto
                  =select_tag :product_type ,options_for_select([["Vegetales" , "3" ], ["Frutas" , "5" ], ["Aceites" , "7" ], ["Conservantes" , "9" ], ["Lacteos", "11"], ["Carne y pescado", "13"]]), :class => 'selectpicker btn'
                .col-sm-4.col-md-offset-1
                  %h4 Tipo de gráfico
                  =select_tag :chart_type ,options_for_select([["Barras" , "1" ], ["Lineas" , "2" ], ["Circular" , "3" ]]), :class => 'selectpicker btn'
                  =hidden_field_tag :modal_tab, "1"
              .modal-footer
              =submit_tag "Generar gráfico", :class => 'btn btn-default'

        =form_tag 'index',:remote => true do  
          #producer-modal
            .container
              .row
                .col-sm-4.col-md-offset-2 
                  %h4 Tipo de producto
                  =select_tag :producer_option_type ,options_for_select([["Productores nuevos por mes" , "1" ], ["Productores por region" , "2" ]]), :class => 'selectpicker btn'
                .col-sm-4.col-md-offset-1
                  %h4 Tipo de gráfico
                  =select_tag :producer_chart_type ,options_for_select([["Barras" , "1" ], ["Líneas" , "2" ]]), :class => 'selectpicker btn'
                  =hidden_field_tag :modal_tab, "2"                     
              .modal-footer           
            =submit_tag "Generar gráfico", :class => 'btn btn-default'      
       
        =form_tag 'index',:remote => true do
          #hubs-modal
            .container
              .row
                .col-sm-4.col-md-offset-2 
                  %h4 Tipo de producto
                  =select_tag :hubs_option_type ,options_for_select([["Hubs nuevos por mes" , "1" ], ["Hubs por region" , "2" ]]), :class => 'selectpicker btn'
                .col-sm-4.col-md-offset-1
                  %h4 Tipo de gráfico
                  =select_tag :hubs_chart_type ,options_for_select([["Barras" , "1" ], ["Líneas" , "2" ]]), :class => 'selectpicker btn'
                  =hidden_field_tag :modal_tab, "3"                  
              .modal-footer
            =submit_tag "Generar gráfico", :class => 'btn btn-default'      

          -#= link_to "Generar gráfico", 'index', :id=>'generate-graph',:class => 'btn btn-default', :type => "button", :method => :post
          -# %button.btn.btn-default{"data-dismiss" => "modal", :id =>"generate-graph", :type => "button"} Generar gráfico

- content_for :javascripts do
  = javascript_include_tag "stadistics/bootstrap-datetimepicker"
  :javascript
            $( "#producer-modal" ).hide();
            $( "#hubs-modal" ).hide();
            $('.form_date').datetimepicker({
              weekStart: 1,
              todayBtn:  1,
              autoclose: 1,
              todayHighlight: 1,
              startView: 2,
              minView: 2,
              forceParse: 0
            });
            $( "#producer-modal-button" ).click(function() {
              $("#product-modal-button").removeClass('active');
              $("#hubs-modal-button").removeClass('active');
              $("#producer-modal-button").addClass('active');
              $( "#product-modal" ).hide();
              $( "#hubs-modal" ).hide();
              $( "#producer-modal" ).show();
            });
            $( "#product-modal-button" ).click(function() {
              $("#producer-modal-button").removeClass('active');
              $("#hubs-modal-button").removeClass('active');
              $("#product-modal-button").addClass('active');
              $( "#producer-modal" ).hide();
              $( "#hubs-modal" ).hide();
              $( "#product-modal" ).show();
            }); 
            $( "#hubs-modal-button" ).click(function() {
              $("#producer-modal-button").removeClass('active');
              $("#product-modal-button").removeClass('active');
              $("#hubs-modal-button").addClass('active');
              $( "#producer-modal" ).hide();
              $( "#product-modal" ).hide();
              $( "#hubs-modal" ).show();
            });
            
            
          









